@tailwind base;
@tailwind components;
@tailwind utilities;

.htmlline-color{
  --lineColor: #000000;
}
.hover\:customTxtColor:hover{
  --tw-text-opacity: 1;
  color: rgba(186 243 238 / var(--tw-text-opacity));
}
.custom-nav-color{ 
  --tw-bg-opacity: 1;
  background-color: rgb(81 169 191);
}
@media (min-width: 992px) {
  .sticky-header.fixed {
      position: sticky;
      z-index: 1040;
      -webkit-animation-name: fixedHeader;
      animation-name: fixedHeader;
      -webkit-animation-duration: .4s;
      animation-duration: .4s;
      background-color: #fff;
      -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.05);
      box-shadow: 0 3px 6px rgba(51, 51, 51, 0.05);
  }}
 
/* *{
  padding: 0px;
  margin: 0px;

} */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
